@import url(./style.css);

.introduction {
    display: flex;
    justify-content: center;
    gap: 40px;
    padding: 40px;
    background-color: #e0f7fa;
    flex-wrap: wrap; 
}

.introduction-content h2 {
    font-size: 40px;
    max-width: 700px;
}

.introduction-content p {
    font-size: 22px;
    line-height: 1.6;
    max-width: 700px;
}

.portrait img {
    max-height: 700px;
    width: auto;
    max-width: 100%;
}

.button {
    font-size: 20px;
    padding: 10px 20px;
    background-color: #0158b5;
    color: #fff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    text-decoration: none;
}

.button:hover {
    background-color: #0f6fd5;
}

.earlier-projects {
    text-align: center;
    background-color: #e0f2f1;
    padding-top: 40px;
}

.earlier-projects h2 {
    font-size: 40px;
    margin: 10px;
}

.projects-container {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
    padding-bottom: 20px;
}

.project {
    width: 100%;
    max-width: 500px;
    margin: 20px;
    text-align: left;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    background-color: #f9f9f9;
    box-sizing: border-box;
}

.project h3 {
    text-align: center;
    font-size: 30px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.project img {
    width: 100%;
    border-radius: 5px;
}

.project p {
    text-align: center;
    font-size: 30px;
    margin: 15px;
}

.project a {
    color: #000000;
    text-decoration: none;
}

.contact {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #e0f7fa;
}

.contact-content {
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 500px;
}

.contact-content h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 30px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 15px;
    font-size: 20px;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #dfdfdf;
    box-sizing: border-box;
}

textarea {
    resize: vertical;
}

@media (max-width: 768px) {
    .introduction {
        gap: 20px;
    }
}